<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory >
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">123456</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306</property>
  <property name="hibernate.connection.username">application</property>
  <property name="hibernate.default_schema">gradebook</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
  <mapping resource="com/motech/Student.hbm.xml"/>
  <mapping resource="com/motech/Address.hbm.xml"/>
  <mapping resource="com/motech/Course.hbm.xml"/>
  <mapping resource="com/motech/Grade.hbm.xml"/>
  <mapping resource="com/motech/Instructor.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
